@charset "utf-8";
body{
    width: 100%;
    height:100%;
    /*overflow-y: hidden;*/
}

/*头部导航栏*/
.layout{
    width: 100%;
    height: 76px;
}
.layout .layout-div{
    width: 100%;
    height: 76px;
    /*background: red;*/
    background: #f2f2f2;
}
.layout .layout-div .hr{
    width: 100%;
    height: 76px;
    background-color: rgba(0,0,0,.02); /*设置透明度*/
    border-bottom:1px solid #c9c9c9;
    background: white;
    position: fixed;
    z-index: 1111;
    /*background: pink;*/
    top: 0px;
}
/*������*/
.layout .layout-div .hr .head{
    width: 1070px;
    height: 76px;
    /*z-index:111;*/
    border: 0;
    /*background: red;*/
    margin: 0 auto; /*居中*/
}
.layout .layout-div .hr .head .top{
    width: 100%;
    height: 56px;
    float: left;
    position:relative;
    top: 10px;
    /*background: yellow;*/
}
.layout .layout-div .hr .head .top .CompanyName{
    width: 128px;
    height: 100%;
    position: absolute;
    z-index: 11;
    display: inline-block;
    /*background: blue;*/
}
.layout .layout-div .hr .head .top .CompanyName img{
    margin-top: 5px;
}
.layout .layout-div .hr .head .top .MenuBar{
    /*width: 556px;*/
    width: 70%;
    height: 56px;
    margin-left: 15%;
    display: inline-block;
    background: white;
    position: absolute;
}
.layout .layout-div .hr .head .top .MenuBar .MenuBarUl{
    width: 80%;
    height: 100%;
    /*background: red;*/
    margin: 0 0 0 15%;
}
.layout .head .top .MenuBar .MenuBarUl ul{
    /*width: 100%;*/
    /*background: pink;*/
    height: 24px;
    display: inline;
    position: absolute;
    /*top: 18px;*/
    margin:0 auto;
    margin-top: 16px;
}
.layout .head .top .MenuBar .MenuBarUl li{
    font-size: 16px;
    margin: 0 0 0 50px;
    display: inline;
    float: left;
    /*background: #000;*/
}
.layout .head .top .MenuBar .MenuBarUl li #down11{
    width: 66px;
    height: 100%;
    display: inline;
    /*background: pink;*/
    position: relative;
}

.layout .head .top .MenuBar li #down11 #down1{
    width: 66px;
    height: 10px;
    background-image: url("../img/down.png");
    position: absolute;
    margin: 10px -15px;
    display: none;
    /*background: yellow;*/
}
.layout .head .top .MenuBar li div #down2{
    width: 66px;
    height: 10px;
    background-image: url("../img/down.png");
    position: absolute;
    margin: 10px 0px;
    display: none;
}
.layout .head .top .MenuBar li div #down3{
    width: 66px;
    height: 10px;
    background-image: url("../img/down.png");
    position: absolute;
    /*margin-left: 256px;*/
    margin-top: 10px;
    display: none;
}
.layout .head .top .MenuBar li div #down4{
    width: 66px;
    height: 10px;
    background-image: url("../img/down.png");
    position: absolute;
    /*margin-left: 374px;*/
    margin-top: 10px;
    display: none;
}
.layout .head .top .MenuBar li div #down5{
    width: 66px;
    height: 10px;
    background-image: url("../img/down.png");
    position: absolute;
    /*margin-left: 492px;*/
    margin-top: 10px;
    display: none;
}

.layout .layout-div .hr .head .top .CallMi{
    width: 145px;
    height: 42px;
    /*background: pink;*/
    position: absolute;
    top: 7px;
    right: 0px;
}
.layout .head .top .CallMi p{
    display: inline-table;
    font-size: 14px;
}
.layout .head .top .CallMi span{
    display:inline-table;
    font-size: 16px;
}

/*banner*/
/* css 重置 */
*{margin:0; padding:0; list-style:none; }
body{ background:#fff; font:normal 14px/1.8 宋体;  }
img{ border:0;  }
a{ text-decoration:none; color:#333;  }
a:hover{ color:#1974A1;  }
#footer{ text-align:center;  }
.main{ padding:1%  }
.main em{color:#f00; font-style:normal}
.main  h2{ margin-bottom:15px  }
.downLoad{ font-size:20px; text-decoration:underline }

*{zoom:1}
#dowebok .fullSlide{ position:relative; margin:0 auto;}
#dowebok .fullSlide .bd{position:relative; z-index:0; }
#dowebok .fullSlide .bd li img{width:100%; vertical-align:top;  }
#dowebok .fullSlide .hd{position:relative; z-index:1; margin-top:-120px; height:30px; line-height:30px;  text-align:center;
    /*background:#000;*/
    filter:alpha(opacity=60);
    opacity:0.6
}
#dowebok .fullSlide .hd ul{ text-align:center;  padding-top:5px;  }
#dowebok .fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(../img/tg_flash_p.png) -18px 0; overflow:hidden;
    font-size:0;
}
#dowebok .fullSlide .hd ul .on{ background-position:0 0; }
